<%= render 'layouts/navheader' %>
<div class="orkambi-body">
	<div class="container">
		<div class="row">
	  	<div class="col-md-10 col-md-offset-1" style="background-color: #fff;">
	  		<img src='http://www.streamingwell.tv/wp-content/uploads/2015/12/Orkambi_logo_triangle.png'/>
	  		[AWAITING APPROVED API]
				<h1 style="color:#fc6719; margin-top: 25px;"><strong>Abbreviated prescribing information</strong></h1>
				<p style="line-height: 1.5em;">(Refer to <a href="http://www.streamingwell.tv/wp-content/uploads/2015/12/Summary-of-Product-Characteristics.pdf" style="color: #4d4d4d !important; text-decoration: underline !important;" target="_blank">Summary of Product Characteristics</a> for full information)</p>
				<br />
				<p style="line-height: 1.5em;"><span style="color: #000; font-size: 24px;">▼</span> This medicinal product is subject to additional monitoring. This will allow quick identification of new safety information. Healthcare professionals are asked to report any suspected adverse reactions. See section 4.8 for how to report adverse reactions.</p>
				<br />
				<p style="line-height: 1.5em;"><strong>Name of Product :</strong> Orkambi 200 mg/125 mg film coated tablets<br />

				<strong>Presentation :</strong> Film coated tablet containing 200 mg of lumacaftor and 125 mg of ivacaftor. <br />
				
				<strong>Therapeutic indication :</strong> Orkambi is indicated for the treatment of cystic fibrosis (CF) in patients aged 12 years and older who are homozygous for the F508del mutation in the CFTR gene. <br />
				
				<strong>Dose and Administration :</strong> Orkambi should only be prescribed by physicians with experience in the treatment of CF. If the patient’s genotype is unknown, an accurate and validated genotyping method should be performed to confirm the presence of the F508del mutation on both alleles of the CFTR gene.  The recommended dose is two tablets (lumacaftor 800 mg/ivacaftor 500 mg total daily dose) taken orally every 12 hours. Orkambi should be taken with fat containing food.  <br />
				
				<strong>Contraindications :</strong> Hypersensitivity to the active substances or to any of the excipients<br />

				<strong>Special Warnings and Precautions :</strong> Orkambi is not effective in patients with CF who have the F508del mutation on one allele plus a second allele with a mutation predicted to result in a lack of CFTR production or that is not responsive to ivacaftor in vitro.  Lumacaftor/ivacaftor has not been studied in patients with CF who have a gating (Class III) mutation in the CFTR gene on one allele, with or without the F508del mutation on the other allele. Since the exposure of ivacaftor is very significantly reduced when dosed in combination with lumacaftor, lumacaftor/ivacaftor should not be used in these patients.<br />
				Respiratory events were more common during initiation of lumacaftor/ivacaftor therapy. Clinical experience in patients with percent predicted FEV1 (ppFEV1) &#60;40 is limited and additional monitoring of these patients is recommended during initiation of therapy. There is no experience of initiating treatment with lumacaftor/ivacaftor in patients having a pulmonary exacerbation and this is not advisable. <br />

				Abnormalities in liver function, including advanced liver disease, can be present in patients with CF. Worsening of liver function in patients with advanced liver disease has been reported in some patients with CF receiving lumacaftor/ivacaftor. Orkambi should be used with caution in patients with advanced liver disease and only if the benefits are expected to outweigh the risks. If lumacaftor/ivacaftor is used in these patients, they should be closely monitored after the initiation of treatment and the dose should be reduced.  Orkambi should be used with caution in patients with advanced liver disease and only if the benefits are expected to outweigh the risks.<br />

				Elevated transaminases have been reported in patients with CF receiving lumacaftor/ivacaftor. In some instances, these elevations have been associated with concomitant elevations in total serum bilirubin.<br />

				Because an association with liver injury cannot be excluded, assessments of liver function tests are recommended before initiating Orkambi, every 3 months during the first year of treatment, and annually thereafter. For patients with a history of ALT, AST, or bilirubin elevations, more frequent monitoring should be considered.<br />

				In the event of significant elevation of ALT or AST, with or without elevated bilirubin, dosing with Orkambi should be discontinued and laboratory tests closely followed until the abnormalities resolve. Following resolution of transaminase elevations, the benefits and risks of resuming dosing should be considered. <br />

				Caution is recommended while using lumacaftor/ivacaftor in patients with severe renal impairment or end stage renal disease.<br />

				Cases of non congenital lens opacities without impact on vision have been reported in paediatric patients treated with ivacaftor monotherapy. Although other risk factors were present in some cases (such as corticosteroid use and exposure to radiation), a possible risk attributable to ivacaftor cannot be excluded. Baseline and follow up ophthalmological examinations are recommended in paediatric patients initiating treatment with Orkambi. Lumacaftor/ivacaftor has not been studied in patients with CF who have undergone organ transplantation. Therefore, use in transplanted patients is not recommended.<br />

				<strong>Pharmacokinetic Interactions :</strong> Lumacaftor is a strong inducer of CYP3A and ivacaftor is a weak inhibitor of CYP3A when given as monotherapy. There is potential for other medicinal products to affect lumacaftor/ivacaftor when administered concomitantly, and also for lumacaftor/ivacaftor to affect other medicinal products. Co administration with sensitive CYP3A substrates or CYP3A substrates with a narrow therapeutic index is not recommended. Lumacaftor/ivacaftor may substantially decrease hormonal contraceptive exposure, reducing effectiveness. Hormonal contraceptives, including oral, injectable, transdermal, and implantable, should not be relied upon as an effective method of contraception when co administered with Orkambi. Ivacaftor is a substrate of CYP3A4 and CYP3A5. Use of lumacaftor/ivacaftor with strong CYP3A inducers, such as rifampicin, significantly reduces ivacaftor exposure, which may reduce the therapeutic effectiveness of lumacaftor/ivacaftor. Therefore, co administration with strong CYP3A inducers (e.g., rifampicin, St. John’s wort [Hypericum perforatum]) is not recommended.<br />

				Co administration of lumacaftor/ivacaftor with itraconazole, a strong CYP3A inhibitor, did not impact the exposure of lumacaftor, but increased ivacaftor exposure by 4.3 fold. Due to the induction effect of lumacaftor on CYP3A, at steady state, the net exposure of ivacaftor when co-administered with a CYP3A inhibitor is not expected to exceed that when given in the absence of lumacaftor at a dose of 150 mg every 12 hours, the approved dose of ivacaftor monotherapy. Co administration of lumacaftor/ivacaftor with rifampicin, a strong CYP3A inducer, had minimal effect on the exposure of lumacaftor, but decreased ivacaftor exposure (AUC) by 57%. Therefore, co administration of lumacaftor/ivacaftor is not recommended with strong CYP3A inducers. Concomitant use of lumacaftor/ivacaftor with P gp substrates (e.g., digoxin) may alter the exposure of P gp substrates substrates. Concomitant use of lumacaftor/ivacaftor may alter (i.e., either increase or decrease) the exposure of CYP2C8 and CYP2C9 substrates, decrease the exposure of CYP2C19 substrates, and substantially decrease the exposure of CYP2B6 substrates.</br>

				<strong>Pregnancy and Lactation :</strong> There are no or limited data from the use of lumacaftor/ivacaftor in pregnant women. Animal studies with lumacaftor and ivacaftor do not indicate direct or indirect harmful effects with respect to developmental and reproductive toxicity, whereas effects were noted with ivacaftor only at maternally toxic doses. As a precautionary measure, it is preferable to avoid the use of lumacaftor/ivacaftor during pregnancy unless the clinical condition of the mother requires treatment with lumacaftor/ivacaftor. It is unknown whether lumacaftor and/or ivacaftor and metabolites are excreted in human milk. Available pharmacokinetic data in animals have shown excretion of both lumacaftor and ivacaftor into the milk of lactating female rats. As such, risks to the suckling child cannot be excluded.<br />

				<strong>Undesirable Effects :</strong> The most common adverse reactions in Orkambi-treatedpatients in the pooled, placebo controlled, Phase 3 studies were dyspnoea, diarrhoea and nausea. Serious adverse reactions occurring in at least 0.5% of patients included hepatobiliary events (e.g., transaminase elevations, cholestatic hepatitis and hepatic encephalopathy). Other adverse reactions include upper respiratory tract infection, rhinitis, respiration abnormal, oropharyngeal pain, rhinorrhoea, flatulence, vomiting, rash, and menstruation disturbances (e.g. menstration irregular, dysmenorrhoea and metrorrhagia). <br />

				<strong>List of Excipients :</strong> Cellulose, microcrystalline, Croscarmellose sodium, Hypromellose acetate succinate, Povidone K30, Sodium laurilsulfate, Magnesium stearate, Polyvinyl alcohol, Titanium dioxide (E171), Macrogol 3350, Talc, Carmine (E120), Brilliant blue FCF aluminum lake (E133), Indigo carmine aluminum lake (E132), Shellac, Iron oxide black (E172), Propylene glycol, Ammonium hydroxide<br />

				<strong>Storage and Use :</strong> Store below 30°C. For oral use. Patients should be instructed to swallow the tablets whole. No special precautions for disposal<br />

				<br />

				<strong>Legal Category :</strong> POM, prescription-only medicine<br />

				<strong>Price information :</strong>   £8,000 (per 28 day supply (112 tablets))<br />

				<strong>Marketing Authorisation Holder:</strong><br />
				Vertex Pharmaceuticals (Europe) Limited, 2 Kingdom Street, London W2 6BD, United Kingdom<br />

				<strong>Marketing Authorisation Number(s) :</strong> EU/1/15/1059/001<br />

				<strong>Date of first Authorisation :</strong> 19 November 2015<br />

				<strong>Date of Revision of the Text :</strong> November 2015<br />

				Orkambi is a trademark of Vertex Pharmaceuticals Incorporated, from whom further information is available.<br />
				<strong>Reporting of Suspected Adverse Reactions</strong><br />
				Reporting suspected adverse reactions after authorisation of the medicinal product is important. It allows continued monitoring of the benefit/risk balance of the medicinal product. Healthcare professionals are asked to report any suspected adverse reactions using the below method:<br />

				<div style="border: 1px solid black; text-align: center;padding: 5px;">
					<p><strong>Adverse events should be reported. Reporting forms and information can be found at<br /> 
						<a href="www.mhra.gov.uk/yellowcard" style="color: #4d4d4d !important;">www.mhra.gov.uk/yellowcard</a>.<br />
						Adverse events should also be reported to <br />
						Vertex Pharmaceuticals (UK) Ltd on 0800 0282616</strong></p>
				</div>
				</p>

			</div>
		</div>
	</div>
</div>
<%= render 'layouts/disclaimer' %>
<%= render 'layouts/footer' %>


