<%= render 'layouts/header' %>
<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<h1 style="color:#fc6719; margin-top: 50px;"><strong>Help centre – Troubleshooting</strong></h1>
		<p>If you are experiencing any difficulties with this website, please refer to the advice below.</span></p>
		<p>This document contains links to external sites. Vertex Pharmaceuticals (Europe) Ltd. is not responsible for the privacy practices, or the content, of any external websites.</p>
		
		<div class="hero-unit">
			<ul class="tab">
				<li style="list-style:none;"><a href="#browser">Browser Issues</a></li>
				<li style="list-style:none;"><a href="#playback">Trouble playing the video?</a></li>
				<li style="list-style:none;"><a href="#windows">Windows 8 Advice</a></li>
				<li style="list-style:none;"><a href="#pcrequirements">Minimum PC Requirements</a></li>
				<li style="list-style:none;"><a href="#mobilerequirements">Minimum Mobile Requirements</a></li>
				<li style="list-style:none;"><a href="#contact">Can't find your answer in the help centre?</a></li>
			</ul>
			<br />

			<a name="browser"></a><hr style="border-color: #fff;">
			<h5><strong>Browser Issues</strong></h5>	
				<h5>Force Refresh</h5>
				<p>A force refresh or reload will ask the browser to re-check with the web server to make sure it has the latest version of the web page you are viewing. Below are the keyboard shortcuts to force your browser to refresh:</p> 

				<li style="color:#fc6719;"><span style="color: #4d4d4d;">Windows: Ctrl + F5</span></li>
				<li style="color:#fc6719;"><span style="color: #4d4d4d;">Apple + R or Cmd + R</span></li>
				<li style="color:#fc6719;"><span style="color: #4d4d4d;">Linux: Ctrl + F5</span></li>

			<a name="playback"></a><hr>
			<h5><strong>Trouble playing the video?</strong></h5>
			<p><a href="http://helpx.adobe.com/flash-player.html" target="_blank">Click here</a> to check your current Flash version and install any necessary updates in five easy steps.</p>

			<a name="windows"></a><hr>
			
			<h5><strong>Windows 8 Advice</strong></h5>
			<p>Some users of Windows 8 may experience a problem where no video player is displayed. <br><a href="http://helpx.adobe.com/flash-player/kb/flash-player-issues-windows-8.html" target="_blank">Click here</a> for a step by step guide to troubleshooting Flash on Windows 8.</p>

			<a name="pcrequirements"></a><hr>

			<h5><strong>Minimum Desktop/Laptop Requirements</strong></h5>
				<h5>Screen resolution</h5>
				<p>Recommended minimum screen resolution of 1024x768</p>
				<h5>Internet connection</h5>
				<p>You'll need a broadband connection with at least 700 Kbps for the best viewing experience.</p>
				<h5>Browser</h5>
					<!--<p class="tab"><a href="http://www.microsoft.com/windows/ie/downloads/default.asp" target="_blank">--><li style="color:#fc6719;"><span style="color: #4d4d4d;">Internet Explorer 7<!-- </a></p> --></span></li>
					<!-- <p class="tab"><a href="http://www.mozilla.org/en-US/firefox/fx/#desktop" target="_blank"> --><li style="color:#fc6719;"><span style="color: #4d4d4d;">Mozilla Firefox 4.0<!-- </a></p> --></span></li>
					<!-- <p class="tab"><a href="http://www.google.com/chrome/" target="_blank"> --><li style="color:#fc6719;"><span style="color: #4d4d4d;">Google Chrome 14.0<!-- </a></p> --></span></li>
					<!-- <p class="tab"><a href="http://www.apple.com/safari/download/" target="_blank">--><li style="color:#fc6719;"><span style="color: #4d4d4d;">Safari 4.0<!-- </a></p> --></span></li>
				<h5>Privacy settings</h5>	
				<p>Cookies must be enabled.</p>
				<hr>

				<a name="mobilerequirements"></a><h5><strong>Minimum requirements for mobile</strong></h5>
				<h5>Operating System</h5>
					<li style="color:#fc6719;"><span style="color: #4d4d4d;">iOS: 3.2</span></li>
					<li style="color:#fc6719;"><span style="color: #4d4d4d;">Android: 2.0 and up</span></li>
					<br />
				<h5>Browser</h5>
					<li style="color:#fc6719;"><span style="color: #4d4d4d;">iOS: Mobile Safari</span></li>
					<li style="color:#fc6719;"><span style="color: #4d4d4d;">iOS: Default Android browser</span></li>
				<br />
				<h5>Internet Connection</h5>
				<p>To watch these videos on iPhone/iPad or Android, your device must be connected to the internet. We recommend a Wi-Fi connection with at least 700Kbps for optimal viewing.</p>
				<h5>Privacy settings</h5>	
				<p>Cookies must be enabled. <a href="http://support.apple.com/kb/TS4207" target="_blank">Click here</a> for a step by step guide to enabling and disabling cookies on iOS</p>
				<a name="contact"><hr>
				</a><h5><strong>Can't find your answer in the help centre?</strong></h5>
				<p><span style="font-weight: 600;">For technical support</span>, please contact the support team via email <!-- <a href="mailto:branden.mittra@streamingwell.com">branden.mittra@streamingwell.com</a> -->[insert email] or phone <br />+44 (0) 7515 120163.</p>
				<p>For all medical information requests, please contact Vertex via email vertexmedicalinfo@vrtx.com.</p>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>





