<div id="wrapper">
	<%= render 'layouts/header' %>
	<%= render 'layouts/preregistration' %>
  <div id="push"></div> <!-- push -->
</div> <!-- wrapper -->
<%= render 'layouts/disclaimer' %>
<%= render 'layouts/footer' %>
