<%= render 'layouts/navheader' %>
<div class="container">
	<div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
		<h1 style="color:#fc6719;"><strong>Terms and Conditions</strong></h1>
		<p>Please read the following terms and conditions of use carefully before using this website. Your use of this website is subject to, and constitutes acceptance of, the conditions included in this notice.</p>

		<p style="margin-bottom: 0;"><strong>General</strong></p>
		<p>This website is owned and provided by Vertex Pharmaceuticals (Europe) Limited (“Vertex” or “we”) whose main address is at 2 Kingdom Street, London, W2 6BD, England for the convenience of visitors to our website. </p>

		<p>Nothing on this website should be construed as an offer to form a binding contract. Your use of this site is at your own risk. Notwithstanding any other provision herein, Vertex reserves the right, in the event of a violation of these terms and conditions, to protect its rights, property and interests to the maximum extent of the law.</p>

		<p style="margin-bottom: 0;"><strong>Dated information</strong></p>
		<p>The information presented at this website is or was current as of the "Last Revised" date shown on each page. While Vertex may periodically update or correct information presented on this website, such information may include typographical errors and/or technical inaccuracies and/or omissions. Vertex makes no representation or warranty as to the accuracy of any information at this website and expressly disclaims any obligation to update such information. Vertex also reserves the right to make additions, deletions or modifications to any information at any time and from time to time without any prior notice.</p>

		<p style="margin-bottom: 0;"><strong>Copyright and trademarks</strong></p>
		<p>This website, and the information which it contains, is the property of Vertex Pharmaceuticals Incorporated and its affiliates and licensors, and is protected from unauthorized copying and dissemination by United States copyright law, international conventions and other intellectual property laws. The trademarks and logos displayed on this website are trademarks of Vertex Pharmaceuticals Incorporated except as otherwise noted. In particular, Vertex and the Vertex logo are registered trademarks of Vertex Pharmaceuticals Incorporated. Nothing on this website should be construed to grant any license or right in or to any trademarks, logos or other intellectual property. All rights are reserved by the owners of each trademark, service mark, logo, or other intellectual property, except as otherwise described in this notice.</p>

		<p style="margin-bottom: 0;"><strong>Access</strong></p>
		<p>You should use this website only if you are a healthcare professional and you should not direct anyone who is not a healthcare professional to this website. </p>

		<p style="margin-bottom: 0;"><strong>Privacy</strong></p>
		<p>If you submit any personal information at this website or if any personal information, such as IP address is collected automatically due to the use of the website, such information will be subject to the Vertex privacy policy, which is available through this website. The sender of any information to Vertex is solely responsible for its content, including, without limitation, its accuracy, truthfulness and non-infringement of any other person's legal rights. You have the right to access personal data held about you and ask for deletions, corrections or changes of it. To request a copy of any information held about you as a result of your use of this website and to exercise your rights outlined above please email <a href="mailto:privacy@vrtx.com" style="color: #4d4d4d !important;">privacy@vrtx.com</a>.</p>

		<p style="margin-bottom: 0;"><strong>No warranties</strong></p>
		<p>Your use of this website and any linked websites is at your own risk. Neither Vertex nor any other party involved in creating, producing or delivering this website shall be liable for any direct, indirect, incidental or consequential damages arising out of your access to, or use of, this website or any linked website. This includes damage due to viruses or other harmful or malicious code that may infect your computer equipment. Without limiting the foregoing, EVERYTHING AT THIS WEBSITE IS PROVIDED TO YOU "AS IS" WITHOUT WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. Some jurisdictions do not allow the exclusion of implied warranties; therefore the above exclusion may not apply to you.</p>

		<p style="margin-bottom: 0;"><strong>Changes to this notice</strong></p>
		<p>Vertex may revise these terms at any time without prior notice. You are bound by any such revisions and should, therefore, visit this page each time you access this website to review the then-current conditions applicable to your use of this website.</p>
	</div>
</div>
<br />

<%= render 'layouts/footer' %>



