<div class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: rgb(252,103,25);">
  <div class="container">
    <div class="cookies-banner">
      <p style="color: #fff;">This website uses cookies &nbsp; &nbsp; <%= link_to 'OK', privacy_path, class: "btn btn-inverse" %> <span style="font-weight: 500; text-align: right;">Read more</span></p>
    </div>
  </div>
</div>