<div class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: rgb(252,103,25);">
  <div class="container">
    <div class="cookies-banner">
      <p style="color: #fff;">This website uses cookies <span style="font-weight: 500;">Read more</span> &nbsp; &nbsp; <%= link_to 'OK', privacy_path, class: "btn btn-inverse" %></p>
    </div>
  </div>
</div>
<%= render 'layouts/messages' %>