<div class="orkambi-disclaimer">
	<div class="container">
		<div class="row">
	    <div class="col-md-10 col-md-offset-1">		
	    	<p style="font-size: 14px;">This educational talk was funded and produced by Vertex Pharmaceuticals (Europe) Ltd. Professor Stuart Elborn has received payment as a speaker and clinical study investigator from Vertex Pharmaceuticals (Europe) Ltd.</p>
			</div>
		</div>
	</div>
</div>