<div class="orkambi-disclaimer">
	<div class="row">
    <div class="col-md-8 col-md-offset-2">		
    	<small>This educational talk was funded and produced by Vertex Pharmaceuticals (Europe) Ltd. Professor Stuart Elborn has received payment as a speaker and clinical  study investigator from Vertex Pharmaceuticals (Europe) Ltd.</small>
		</div>
	</div>
</div>