<div id="footer">
	<div class="container">		
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<p><%= link_to "Prescribing information", api_path %></p>
			</div>
			<div class="col-sm-3">
				<p><a data-toggle="modal" href="#AEModal">Reporting a suspected <br />adverse event</a></p>
			</div>
			<div class="col-sm-2">
				<p style="color: #fff;">Privacy</p>
				<ul>
					<li style="list-style:none; margin-top: -5px;"><span style="color: #c9c9c9 !important;"><small><%= link_to "Privacy and cookie policy", privacy_path %></small></span></li>
					<li style="list-style:none;"><span style="color: #c9c9c9 !important;"><small><%= link_to "Terms and Conditions", terms_path %></small></span></li>
				</ul>
			</div>
			<div class="col-sm-2">
				<p><%= link_to "Help centre", help_path %></p>			
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1" align="center" style="margin-top:25px;">
				<img src="http://www.streamingwell.tv/wp-content/uploads/2015/11/vertex-pharmaceuticals.png"/>
				<br />
			</div>
		</div>		
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1" align="center" style="margin-top:25px;">
				<small style="color: #c9c9c9;">© Vertex Pharmaceuticals (Europe) Ltd. | VXR-UK-04-0011b | January 2016</small>
			</div>
		</div>

	</div>
</div>
		 	