<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="orkambi-banner">
      <p style="font-size: 14px;">This website is intended for healthcare professionals in the Republic of Ireland only.</p>
    </div>
  </div>
</div>
<%= render 'layouts/messages' %>