<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="orkambi-banner">
      <small>This website is intended for Republic of Ireland healthcare professionals only. <br /> If you are taking a Vertex Pharmaceuticals (Europe) Ltd. medicine, please <a href="#" style="text-decoration: underline !important;">click here</a>.</small>
    </div>
  </div>
</div>
<%= render 'layouts/messages' %>