<div class="orkambi-brand">
  <div class="row">
    <div class="col-md-8 col-md-offset-1" style="background-color: #fff;">
    	<img src='http://www.orkambi.com/img/orkambi-logo.png'/>
			<h1 style="color: #fc6719;">To mark the authorisation of ORKAMBI™ (lumacaftor/ivacaftor) in the Republic of Ireland, Professor Stuart Elborn, lead clinical trial investigator, Queen’s University Belfast, will be presenting the key clinical data for ORKAMBI™ from the TRAFFIC and TRANSPORT clinical trials.</h1>
			<br />
			<p>If you have any questions on the clinical data you are invited to submit them during the webcast and they will be followed up by a Vertex representative as soon as possible.</p>
			<br/>
    </div>
  </div>
</div>