<div class="orkambi-brand">
	<div class="container">
	  <div class="row">
	    <div class="col-md-10 col-md-offset-1" style="background-color: #fff;">
	    	<img src='http://www.orkambi.com/img/orkambi-logo.png'/>
				<p style="color: #fc6719; font-size: 20px;  margin-top: 25px;">In this webcast, lead clinical trial investigator Professor Stuart Elborn, Queen's University Belfast, presents the key clinical data for ORKAMBI™ from the TRAFFIC and TRANSPORT clinical trials.</p>
				<br />
				<p>If you have any questions on the clinical data you are invited to submit these in the box below and they be followed up by a Vertex representative as soon as possible.</p>
				<br/>
	    </div>
	  </div>
	</div>
</div>