<div class="orkambi-body">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 style="color: #fc6719;"><strong>ORKAMBI™<span style="color: #000;">▼</span> now available in the United Kingdom and Republic of Ireland</strong></h1>
        <br />
        <p>ORKAMBI™ has been authorised for the treatment of patients aged 12 years and older who are homozygous for the <i>F508del</i> mutation in the cystic fibrosis transmembrane conductance regulator (<i>CFTR</i>) gene.</p>
        <p>To mark the launch, lead clinical trial investigator Professor Stuart Elborn, Queen's University Belfast, presents the key clinical data for ORKAMBI™ from the TRAFFIC and TRANSPORT clinical trials.</p>
        <p>To access this webcast, please click to register below. If you have already done so, please click on already registered.</p>
        <br />
        <div class="col-sm-4" style="padding: 0; margin-right: 15px;">
          <%= link_to 'REGISTER', register_path, class: "btn btn-primary btn-large btn-block" %>
        </div>
        <div class="col-sm-4" style="padding: 0; margin-right: 15px;">
          <%= link_to 'ALREADY REGISTERED', alreadyregistered_path, class: "btn btn-primary btn-large btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>