<div id="footerlanding">
	<div class="container">
		<div class="col-md-12" align="center">
			<img src="http://www.streamingwell.tv/wp-content/uploads/2015/11/vertex-pharmaceuticals.png"/>
			<br />
		</div>
		<div class="col-md-12" align="center" style="margin-top:25px;">
				<small style="color: #c9c9c9;">© Vertex Pharmaceuticals (Europe) Ltd. | VXR-IE-04-00016b | June 2016</small>
		</div>
		</div>
	</div>
</div>