<div class="orkambi-body">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h1 style="color: #fc6719;">Authorisation of ORKAMBI™<span style="color: #000;">▼</span> (lumacaftor/ivacaftor)in the United Kingdom</h1>
      <br />
      <p>ORKAMBI™ has been authorised for the treatment of patients aged 12 years and older who are homozygous for the <i>F508del</i> mutation in the cystic fibrosis transmembrane conductance regulator (<i>CFTR</i>) gene.</p>
      <p>If you have any questions on the clinical data you are invited to submit them during the webcast and they will be followed up by a Vertex representative as soon as possible.</p>
      <p>In order to watch this webcast, please register below. If you have already done so please login.</p>
      <br />
      <%= link_to 'LOGIN', login_path, class: "btn btn-primary btn-large" %>
      <%= link_to 'REGISTER', register_path, class: "btn btn-primary btn-large" %>
    </div>
  </div>
</div>